@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body{
    background: linear-gradient(to right bottom, #01193e, #003b68, #0075ad, #179ccf);
    font-family: 'Raleway';
    height:100%;
}

nav {
    padding-top:20px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus{
    font-weight: 900;
    font-size:28px;
    color: #0c79c5;
    text-transform: uppercase;
}

.input-container{
    box-sizing: border-box;
    height: 70vh;
    resize: none;
    width: 100%;
    border-color: #002240;
    background-color: #002240;
    color: #FFF;
    padding:10px;
    font-family: monospace;
}

.footer{
    background: rgba(0, 0, 0, 0.3);
    color: #01193e;
    position: fixed;
    box-sizing: border-box;
    left:0;
    margin:0;
    right:0;
    text-align: center;
  
    bottom:0;
    height:5vh;
    line-height: 5vh;
    font-weight: 800;
}

.login {
    display: inline-block;
    margin-right: 5px;
}


// body {
//     display: flex;
//     min-height: 100vh;
//     flex-direction: column;
// }

// main {
//     flex: 1 0 auto;
// }

// #chat-messages {
//     min-height: 10vh;
//     height: 60vh;
//     width: 100%;
//     overflow-y: scroll;
// }